{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text" style="vertical-align: middle;">
        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of shares" type="number" min="1" style="vertical-align: middle;">
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
{% endblock %}